* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.house {
  border: solid black;
  max-width: 800px;
  margin: 20px auto;
  padding: 25px;
  background: white;
  border-radius: 6px;
}

button {
  font-size: 2rem;
  margin: 35px;
  background: #8AEA92;
  border: solid black;
  border-radius: 6px;
}

button:hover {
  background: yellow;
}

img {
  border: solid red;
  height: 50px;
  width: 50px;
}

/* STYLING */
header {
  height: 100px;
  background:#519872;
  color: white;
  /* font-weight: 500; */
  display: flex;
  /* padding-left: 50px; */
  /* max-width: 1000px; */
  margin: 0 auto;
}

.header {
  min-width: 800px;
  /* border: solid black; */
  margin: 0 auto;
  display: flex;
  /* padding-left: 50px; */
  align-items: center;
}

.header h2 {
  font-size: 3rem;
}

.dash {
  background: #AFD4C0;
  /* padding: 25px; */
}

h1 {
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: 200;
  color: #3B5249;
}

.dash2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  /* text-decoration: underline; */
  /* border: solid red; */
}

hr {
  max-width: 800px;
  margin: 15px auto;
  border: 1px solid black;
}

input {
  height: 2rem;
  border: solid #3B5249;
  border-radius: 5px;
  width: 200px;
  margin: 16px;
}

h2, h3 {
  margin: 0;
}